#!/usr/bin/env xdg-open
[Desktop Entry]
Name=VDX7
Exec=vdx7
Comment=VDX7
Terminal=false
PrefersNonDefaultGPU=false
Icon=VDX7.png
Type=Application
Name[en_US]=VDX7
